name: Run Unit Tests
on: [push, pull_request]
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest]
        python-version: [3.9, 3.11]
    steps:
    - name: Check out code
      uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install -r requirements-dev.txt
        pip install .
        mmcore install
      shell: bash
    - name: Run tests (Windows)
      if: runner.os == 'Windows'
      run: pytest --cov src/napari_live_recording/_test
    - name: Upload coverage
      uses: codecov/codecov-action@v4.0.1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        slug: jacopoabramo/napari-live-recording